.header-me {
  background-color: #212121;
}
.borderme {
  /* border: 1px solid red; */
  padding: 10px;
  background-color: #212121;
  color: white;
}
.menu-right-part i {
  padding-right: 15px;
}
.login-user-menu {
  text-decoration: none;
  color: black;
  padding-right: 15px;
}
.togMenue-padd {
  padding: 22px;
}

#myMenue ul li {
  text-align: center;
  padding: 0px 15px;
  padding-bottom: 10px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
#myMenue ul li::before {
  /* content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    top: 95%;
    left: -100%;
    background-color: turquoise; */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: turquoise;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
#myMenue ul li:hover::before {
  /* left: 0%; */
  transform: scaleX(1);
}
/* closed */
#mb-text ul li a:hover {
  color: turquoise;
  text-decoration: underline;
}
#mb-text ul li a {
  color: white;
}

#myMenue ul li a {
  color: white;
}
#myMenue ul li a:hover {
  color: turquoise;
}
/* mobile menue */
#mb-text ul li {
  padding: 0px 15px;
  padding-bottom: 10px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
#mb-text ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 2px;
  background-color: turquoise;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
#mb-text ul li:hover::before {
  transform: scaleX(1);
}
/* mobile menue */
/* HEDAER CLOSED */
/* ====================================================================================== */

.top-banner {
  /* border: 1px solid red; */
  background-image: url(../images/home.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.overly-black {
  background-color: rgba(0, 0, 0, 0.349);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overly-black h1 {
  color: white;
  font-size: 45px;
  padding-bottom: 3px;
  width: 70%;
}
.overly-black h3 {
  color: white;
  font-size: 22px;
  letter-spacing: 10px;
  padding-bottom: 30px;
}
.overly-black button {
  padding: 10px 50px;
  background-color: #3eccb5;
}
.modal-inner {
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.425);
}
.modal-IIend-cell {
  /* background-color: brown; */
  margin-top: 180px;
}
.modal-class h1 {
  text-align: center;
}

/* About Section Start */
/* =========================== */
.about {
  background-image: url(../images/About.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* height: 100vh; */
  padding-bottom: 100px;
}
.row-mid {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  /* height: 450px;
   */
}
.col-border {
  /* border: 1px solid red; */
  background-color: rgba(0, 0, 0, 0.39);
}
.col-border h2 {
  font-size: 60px;
  text-align: center;
  padding-top: 90px;
  color: #3eccb5;
  /* padding-bottom: 10px; */
}
.col-border-p1 {
  padding: 30px 30px;
  padding-bottom: 10px;
  text-align: justify;
  color: white;
  font-size: 18px;
}
.col-border-p2 {
  text-align: justify;
  padding: 15px 30px;
  padding-bottom: 90px;
  color: white;
  font-size: 18px;
}
/* .col-border-p3{
  text-align: justify;
  padding: 0px 50px;
  padding-bottom: 60px;
} */
/* About Section Closed */
/* COMMUNITY section start */
/* ============================== */
.community {
  background-color: #fff;
}
.community-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.community h2 {
  padding-top: 80px;
  padding-bottom: 10px;
}
.community-mid-p {
  width: 25%;
  text-align: center;
  padding-bottom: 60px;
}
/* Team section */
/* =============== */
.slider-section {
  width: 100%;
}
/*  mumber-inner section */
/* ========================= */
.mumber-inner-row {
  border: 1px solid red;
  /* margin: auto; */
  padding: 50px 0px;
}
.mumber-inner-col {
  /* border: 1px solid red; */
  margin: auto;
}
.member-img {
  width: 30px;
}
.member-img svg {
  width: 100%;
}
.member-heading h5 {
  font-size: 22px;
}

/* spaces  section start*/
/* ============================= */
.spaces {
  background-color: #3eccb5;
}
.spaces h2 {
  font-size: 50px;
  font-weight: bolder;
  padding: 20px 0px;
}
/* first-part left */
/* ----------------- */
.spaces-Ist {
  margin: 65px 0px 0px 0px;
  padding: 0px;
}
.left-side-spaces {
  position: relative;
}

.left-side-spaces img {
  width: 100%;
  height: 100%;
  object-position: center;
}
.spaces-overley {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  /* transition: 0.5s; */
  transform: scale(0);
  transform-origin: center;
}
.left-side-spaces:hover .spaces-overley {
  transform: scale(1);
}

.spaces-overley button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
}
/* pop up js in overley left side*/
.spaces-pops {
  width: 100%;
  height: 660px;
  background-image: url(../images/space1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  box-shadow: 0px 0px 8px 2px #ccc;
  position: fixed;
  transform: translate(-50%, -50%);
  transform: scale(0);
  transition: 0.6s;
  transform-origin: center;
}
.activeModal {
  top: 10%;
  left: 0px;
  transform: scale(1);
}
.spaces-pops h2 {
  margin: 30px 0px;
  position: relative;
  color: black;
}
.spaces-pops > h2 > span {
  position: absolute;
  right: 30px;
  cursor: pointer;
}
.spaces-pops-inner {
  max-width: 750px;
  margin: auto;
  border: 1px solid red;
  padding-top: 30px;
  background-color: #fff;
}
.spaces-pops-inner h2 {
  text-align: left;
  font-size: 22px;
  padding: 20px 0px 0px 80px;
  line-height: 40px;
}
.spaces-pops-inner h2 span {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 7px;
}
.spaces-pops-inner p {
  padding: 25px 80px;
  text-align: justify;
}
/* right part work start */
.right-side-spaces img {
  width: 100%;
}
/* right */
.right-side-spaces:hover .spaces-overley {
  transform: scale(1);
}
.spaces-overley button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
}
.right-side-spaces {
  position: relative;
}
.spaces-overley-right {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: scale(0);
  transform-origin: center;
}
.right-side-spaces:hover .spaces-overley-right {
  transform: scale(1);
}
.spaces-overley-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spaces-overley-right button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 22px;
}
.spaces_m_Right {
  width: 100%;
  height: 660px;
  /* background-color: black; */
  background-image: url(../images/spaces2.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: fixed;
  transform: translate(-50%, -50%);
  transform: scale(0);
  transition: 0.6s;
  transform-origin: center;
}
.activeModal_1 {
  top: 10%;
  left: 0px;
  transform: scale(1);
}
.spaces_m_Right_inner {
  max-width: 750px;
  margin: auto;
  border: 1px solid red;
  padding-top: 30px;
  background-color: #fff;
}
.spaces_m_Right h2 {
  margin: 30px 0px;
  position: relative;
  color: black;
}
.spaces_m_Right > h2 > span {
  position: absolute;
  right: 30px;
  cursor: pointer;
}
