.header-me {
  background-color: #212121;
}
.borderme {
  /* border: 1px solid red; */
  padding: 10px;
  background-color: #212121;
  color: white;
}
.menu-right-part i {
  padding-right: 15px;
}
.login-user-menu {
  text-decoration: none;
  color: black;
  padding-right: 15px;
}
.togMenue-padd {
  padding: 22px;
}

#myMenue ul li {
  text-align: center;
  padding: 0px 15px;
  padding-bottom: 10px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
#myMenue ul li::before {
  /* content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    top: 95%;
    left: -100%;
    background-color: turquoise; */
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: turquoise;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
#myMenue ul li:hover::before {
  /* left: 0%; */
  transform: scaleX(1);
}
/* closed */
#mb-text ul li a:hover {
  color: turquoise;
  text-decoration: underline;
}
#mb-text ul li a {
  color: white;
}

#myMenue ul li a {
  color: white;
}
#myMenue ul li a:hover {
  color: turquoise;
}
/* mobile menue */
#mb-text ul li {
  padding: 0px 15px;
  padding-bottom: 10px;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
#mb-text ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  height: 2px;
  background-color: turquoise;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
#mb-text ul li:hover::before {
  transform: scaleX(1);
}
/* mobile menue */
/* HEDAER CLOSED */
/* ====================================================================================== */

.top-banner {
  /* border: 1px solid red; */
  background-image: url(../images/home.png);
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  
}
.overly-black {
  background-color: rgba(0, 0, 0, 0.349);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.overly-black h1 {
  color: white;
  font-size: 45px;
  padding-bottom: 3px;
  width: 70%;
}
.overly-black h3 {
  color: white;
  font-size: 22px;
  letter-spacing: 10px;
  padding-bottom: 30px;

}
.overly-black button{
  padding: 10px 50px;
  background-color: #3eccb5;
}
.modal-inner{
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.425);
}
.modal-IIend-cell{
  /* background-color: brown; */
  margin-top: 180px;
}
.modal-class h1 {
  text-align: center;
}

/* About Section Start */
/* =========================== */
.about{
  background-image: url(../images/About.png);
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* height: 100vh; */
  padding-bottom: 100px;
}
.row-mid{
  display: flex;
  justify-content: center;
  padding-top: 120px;
  /* height: 450px;
   */
}
.col-border{
  /* border: 1px solid red; */
  background-color: rgba(0, 0, 0, 0.39);
}
.col-border h2{
  font-size: 60px;
  text-align: center;
  padding-top: 90px;
  color: #3eccb5;
  /* padding-bottom: 10px; */
}
.col-border-p1{
  padding: 30px 30px;
  padding-bottom: 10px;
  text-align: justify;
  color: white;
  font-size: 18px;
}
.col-border-p2{
  text-align: justify;
  padding: 15px 30px;
  padding-bottom: 90px;
  color: white;
  font-size: 18px;
}
/* .col-border-p3{
  text-align: justify;
  padding: 0px 50px;
  padding-bottom: 60px;
} */
/* About Section Closed */
/* COMMUNITY section start */
/* ============================== */
.community{
  background-color: #fff;
 
}
.community-mid{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.community h2{
  padding-top:80px ;
  padding-bottom: 10px;
}
.community-mid-p{
  width: 25%;
  text-align: center;
  padding-bottom: 60px;
}
 /* Team section */
/* =============== */
.slider-section{
  width: 100%;
}
/*  mumber-inner section */
/* ========================= */
.mumber-inner-row{
  border: 1px solid red;
  /* margin: auto; */
  padding: 50px 0px;
}
.mumber-inner-col{
  /* border: 1px solid red; */
  margin: auto;
}
.member-img{
  width: 30px;
}
.member-img svg{
  width: 100%;
}


    

